{% extends 'Mysite/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}

    <form action="{% url 'auth_view' %}" method="POST">
        <div class="test">
        {% csrf_token %}
        </div>

        {% if form.errors %}
            <p class="error"> Кечиресиз, колдонуучу аты же чыр сөз ката!</p>
        {% endif %}
        <div class="card-panel" style="width: 300px; margin: auto">
            <div class="row">
                {#              <form class="col-md-12" >#}
              <h5>Системага кирүү</h5>
                <br>
        {% if error %}
            <p class="error"> Кечиресиз, колдонуучу аты же cыр сөз ката!</p>
        {% endif %}
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="username" type="text" class="validate" name="username" value="">
                    <label for="username">Колдонуучу Аты</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" class="validate" name="password" value="">
                    <label for="password">Сыр Сөз</label>
                </div>
                {#              </form>#}
                <div class="text-center">
                    <button type="submit" class="btn btn-info waves-effect waves-light">Кирүү</button>
                </div>
            </div>
        </div>
    </form>
    {#    <form action="{%  url 'auth_view' %}" method="post">{% csrf_token %}#}
    {#    <label for="username"> Username</label>#}
    {#    <input type="text" name="username" value=" " id="username">#}
    {#    <label for="password">Password</label>#}
    {#    <input type="password" name="password" value=" " id="password">#}
    {#    <input type="submit" value="login"/>#}
    {#    </form>#}

{% endblock %}